  <div class="slider">
    <ul class="slides">
      <li>
        <img src="images/design-1.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>Amazing Beds!</h3>
          <h5 class="light grey-text text-lighten-3">Quality isn't expensive. It's priceless!</h5>
        </div>
      </li>
      <li>
        <img src="images/design-2.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3>Only today! Buy without taxes!</h3>
          <h5 class="light grey-text text-lighten-3">Quality isn't expensive. It's priceless!</h5>
        </div>
      </li>
      <li>
        <img src="images/design-3.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3>Special Valentine's Day, buy now and pay tomorrow!</h3>
          <h5 class="light grey-text text-lighten-3">Quality isn't expensive. It's priceless!</h5>
        </div>
      </li>
    </ul>
  </div>