<section class="container" ng-controller="furnituresManager">
	<form>
		<input placeholder="Search by category" type="text" ng-model="nameFilter">
	</form>
	
	
	<div class="furniture-element" ng-repeat="furniture in furnitures | filter: {category: nameFilter}">
		<h4>{{furniture.name | uppercase}}</h4>
		<img src="{{furniture.image}}" alt="">
		<p>{{furniture.description}}</p>
		<p><strong>Price:</strong> {{furniture.price}}€</p>
		<a href="#products/id/{{furniture.id}}">See Product</a>
	</div>	
</section> 